@use "../abstracts/" as *;
@use "../abstracts/" as *;

.heading-l {
  font-size: rem(32);
  line-height: rem(42);
}

.heading-m {
  font-size: rem(24);
  line-height: rem(32);
}

.body {
  font-size: rem(18);
  line-height: rem(24);
}
