:root {
  --font-family: "JetBrains Mono";
  --clr-red: #f64a4a;
  --clr-orange: #fb7c58;
  --clr-yellow: #f8cd65;
  --clr-green: #a4ffaf;
  --clr-almost-white: #e6e5ea;
  --clr-grey: #817d92;
  --clr-dark-grey: #24232c;
  --clr-very-dark-grey: #18171f;
}
